.component-container {
  display: grid;
  grid-template-columns: max-content;
  margin: 1rem;
  padding: 1rem;
  border: 2px dashed #7b61ff;
  border-radius: 5px;
}
  
.component-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.25rem 0;
}

.grid2flex {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: min-content min-content;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
}

.grid3flex {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: min-content min-content min-content;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
}

.grid4flex {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
}

.grid7flex {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
}

.flexwrapper {
  display: flex;
  flex-wrap: wrap;
}

.component-example {
  margin-bottom: 0.5rem;
  width: 100%;
  /* vertical-align: text-top; */
}

.component-topmargin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.component-vmargin {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.component-minvmargin {
  width: 100%;
  margin-top: 0.5rem;
  /* margin-bottom: 1.5rem; */
}

.component-response-minvmargin {
  width: 100%;
  margin-top: 0.755rem;
  margin-bottom: 0.755rem;
}

.component-option-fixed {
  display:block;
  width: 100%;
  margin-top: 0.9rem;
  height: 1.37rem;
  /* margin-bottom: 0.9rem; */
}

.component-nomargin {
  width: 100%;
}

.component-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
}


.component-example > * {
  margin: 0.25rem;
}
  
.component-example > p {
  margin-bottom: 0.5rem;
}

.row11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.rowflex{
  display: grid;
  grid-template-columns: max-content auto;
}
  
.rowsingle {
  display: grid;
  grid-template-columns: auto;
  /* grid-template-columns: 1fr; */
}
  
.floatleft {
  float: left;
  padding-right: 2rem;
}


.floatleftlesspadding {
  float: left;
  padding-right: 1rem;
}

.floatleftnopadding {
  float: left;
}

h1 {
  font-size: 2em;
}
  
#farleft {
  text-align: left;
}
  
#farright {
  text-align: right;
  margin-top: 1rem;
}

#main {
  margin-top: 1.0rem;
  /* vertical-align: middle; */
}

#carriername,
#carrierapiname {
  width: 10rem;
}

.scenariofield {
  width: 25rem;
}

.scenariocustomfield {
  width: 23rem;
}

#nofpackages{
  width: 7rem;
}

.multifield {
  width: 7rem;
}

.modulartile,
.multifield {
  vertical-align: middle;
}  