@import url("../general/general.css");

h1 {
  float:left;
}

#info {
  background-color: darkblue;
  color: #DDDDDD;
}

.component-pname {
  /* display:block; */
  /* white-space: nowrap; */
  /* width: 17rem; */
  width: 100%;
  margin-top: 0.5rem;
}

.parameternamefield,
.parameteroptionsfield,
.previousvaluefield,
.newvaluefield {
  width: 15rem;
}

.parameteroptionsfield {
  height: 1.65rem;
  line-height: 1.65rem;
  font-size: 0.8rem;
  font-weight: normal;
  /* border-width: 0px; */
  font-family: inherit;
  color: var(--vscode-input-foreground);
  background: var(--vscode-input-background);
  margin-bottom: 0.1rem;
}

.parameteroptionsfield:focus {
  border-color: var(--vscode-focusBorder);
  outline: none;
}

.changereasonfield,
#allchangereasons {
  width: 8rem;
}

.currentvaluefield {
  width: 10rem;
}

.currentchangereasonfield {
  width: 8rem;
}

.currenttimestampfield {
  width: 9rem;
}

#files {
  width: 30rem;
}

#save {
  width: 20rem;
}

.codecompanyfield,
.codecustomerfield {
  width: 6rem;
}

.setresponsefieldoption,
.getresponsefieldoption {
  color: #DDDDDD;
}

#farright {
  margin-right: 5rem;
}

.floatleftgetparameters {
  float: left;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.floatleftchangereason {
  float: left;
  padding-left: 4.5rem;
}

.floatpsearch {
  float: left;
  padding-left: 0.5rem;
}

.floatpname {
  float: left;
  margin-bottom: 0.5rem;
}

.floatsavename {
  float: left;
  margin-bottom: 0.5rem;
  display:block;
  white-space: nowrap;
  width: 15rem;
}

#savename {
  font-size: 0.8rem;
}

