@import url("../general/general.css");

.parameternamefield,
.currentvaluefield,
.previousvaluefield,
.newvaluefield,
.changereasonfield {
  width: 15rem;
}

#files,
#save {
  width: 30rem;
}

.codecompanyfield,
.codecustomerfield {
  width: 6rem;
}

.setresponsefield {
  font-size: large;
}


/* #createpostmancollection {
  width:15rem;
  height:3rem;
} */

#farright {
  margin-right: 5rem;
}
