@import url("../general/general.css");

.newparametercode,
.newparameterdescription,
.newparameterexplanation {
  width: 15rem;
}

.previousvaluefield{
  width: 15rem;
}

.parameteroptionsfield,
.codecustomeroptionsfield {
  height: 1.65rem;
  line-height: 1.65rem;
  font-size: 0.8rem;
  font-weight: normal;
  /* border-width: 0px; */
  font-family: inherit;
  color: var(--vscode-input-foreground);
  background: var(--vscode-input-background);
  margin-bottom: 0.1rem;
}

.parameteroptionsfield:focus,
.codecustomeroptionsfield:focus {
  border-color: var(--vscode-focusBorder);
  outline: none;
}

.changereasonfield,
#allchangereasons {
  width: 8rem;
}

.currentvaluefield {
  width: 10rem;
}

.currentchangereasonfield {
  width: 8rem;
}

.currenttimestampfield {
  width: 9rem;
}

#files {
  width: 30rem;
}

#save {
  width: 20rem;
}

#savename {
  width: 16rem;
}

.codecustomeroptionsfield,
.codecustomerfield,
.floatleftcodecustomer {
  width: 7rem;
}

.codecompanyfield,
.floatleftcodecompany {
  width: 6rem;
}

.setresponsefieldoption,
.getresponsefieldoption {
  background-color: var(--vscode-inputValidation-errorBackground);
}

.setresponsefieldoption.ok,
.getresponsefieldoption.ok {
  background-color: var(--vscode-inputValidation-infoBackground);
}

#farright {
  margin-right: 5rem;
}

.floatleftgetparameters {
  float: left;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.floatleftchangereason {
  float: left;
  /* padding-left: 47.2rem; */
}

.floatleftcodecompany {
  float: left;
  padding-left: 1.8rem;
}

.floatleftcodecustomer {
  float: left;
  padding-left: 0.2rem;
}

.responsediv {
  white-space: nowrap;
}

#addline,
#removeline {
  margin: 0.1rem;
}

#removeline {
  background-color: red;
}
